path_local_config: "{{ ansible_env.HOME }}/.config"
path_local_bin: "{{ ansible_env.HOME }}/.local/bin"
path_local_share: "{{ ansible_env.HOME }}/.local/share"
path_shell_config: "{{ path_local_config }}/shell"
path_virtualenvs: "{{ ansible_env.HOME }}/.virtualenvs"
path_sources: "{{ ansible_env.HOME }}/sources"

# {{{ custom roles defaults
# {{{ ack
ack_git_repo: "https://github.com/beyondgrep/ack3.git"
ack_version: "v3.9.0"
# }}}
# {{{ ast-grep
ast_grep_version: "0.39.9"
ast_grep_archive: "app-x86_64-unknown-linux-gnu.zip"
ast_grep_archive_url: "https://github.com/ast-grep/ast-grep/releases/download/{{ ast_grep_version }}/{{ ast_grep_archive }}"
# }}}
# {{{ bat
bat_version: "0.26.0"
bat_vversion: "v{{ bat_version }}"
bat_archive: "bat-{{ bat_vversion }}-x86_64-unknown-linux-gnu.tar.gz"
bat_archive_url: "https://github.com/sharkdp/bat/releases/download/{{ bat_vversion }}/{{ bat_archive }}"
catppuccin_bat_theme_git_repo: "https://github.com/catppuccin/bat.git"
# }}}
# {{{ direnv
direnv_config_dir: "{{ path_local_config }}/direnv/"
# }}}
# {{{ fd
fd_version: "10.3.0"
fd_vversion: "v{{ fd_version }}"
fd_archive: "fd-{{ fd_vversion }}-x86_64-unknown-linux-gnu.tar.gz"
fd_archive_url: "https://github.com/sharkdp/fd/releases/download/{{ fd_vversion }}/{{ fd_archive }}"
# }}}
# {{{ fx
fx_version: "39.2.0"
fx_binary: "fx_linux_amd64"
fx_binary_url: "https://github.com/antonmedv/fx/releases/download/{{ fx_version }}/{{ fx_binary }}"
# }}}
# {{{ fzf
fzf_version: "0.66.1"
fzf_vversion: "v{{ fzf_version }}"
fzf_archive: "fzf-{{ fzf_version }}-{{ ansible_system | lower }}_amd64.tar.gz"
fzf_archive_url: "https://github.com/junegunn/fzf/releases/download/{{ fzf_vversion }}/{{ fzf_archive }}"
fzf_git_repo: "https://github.com/junegunn/fzf.git"
# }}}
# {{{ git
git_email: mirek@mirekdlugosz.com
# }}}
# {{{ lazygit
lazygit_version: "0.56.0"
lazygit_vversion: "v{{ lazygit_version }}"
lazygit_archive: "lazygit_{{ lazygit_version }}_Linux_x86_64.tar.gz"
lazygit_archive_url: "https://github.com/jesseduffield/lazygit/releases/download/{{ lazygit_vversion }}/{{ lazygit_archive }}"
# }}}
# {{{ npm
# }}}
# {{{ nvim
nvim_dir: "{{ path_local_config }}/nvim/"
nvim_share_dir: "{{ path_local_share }}/nvim/"
paq_git_repo: "https://github.com/savq/paq-nvim"
nvim_treesitter_modules:
  - "bash"
  - "css"
  - "dockerfile"
  - "html"
  - "javascript"
  - "json"
  - "lua"
  - "markdown"
  - "markdown_inline"
  - "php"
  - "python"
  - "r"
  - "regex"
  - "rust"
  - "rst"
  - "scss"
  - "toml"
  - "typescript"
  - "vue"
  - "yaml"
nvim_treesitter_modules_exclude: []
nvim_lsps:
  - "ansiblels"
  - "bashls"
  - "dockerls"
  - "eslint"
  - "jedi_language_server"
  - "psalm"
  - "pyright"
  - "rust_analyzer"
  - "texlab"
  - "ts_ls"
nvim_lsps_exclude: []
# }}}
# {{{ pipx
pipx_version: "1.1.0"
pipx_packages:
  cookiecutter: "*"
  git-filter-repo: "*"
  jedi-language-server: "*"
  neovim-remote: "*"
  nox: "2025.10.16"
  poetry: "2.2.1"
  reuse: "*"
  uv: "0.7.15"
  # vmmgr is not on PyPI and our current pipx role can't handle installing packages from local source
  # just install it manually before running playbook, and as long as version matches, ansible will leave it alone
  vmmgr: "0.1.0"
# }}}
# {{{ pyenv
pyenv_local_path: "{{ ansible_env.HOME }}/.pyenv"
pyenv_git_repo: "https://github.com/pyenv/pyenv.git"
pyenv_wrapper_script: "{{ pyenv_local_path }}/.ansible_pyenv_wrapper"
pyenv_versions:
  - 3.11.14
  - 3.12.12
  - 3.13.9
default_pyenv_python_path: "{{ pyenv_local_path }}/versions/{{ pyenv_versions | last }}/bin/python3"
# }}}
# {{{ R
r_local_lib: "{{ ansible_env.HOME }}/.local/lib/R"
# }}}
# {{{ shell
shell_extra_paths:
  - "{{ path_local_bin }}"
  - "{{ path_npm_global }}/bin"
  - "{{ ansible_env.HOME }}/.cargo/bin"
# }}}
# {{{ starship
starship_version: "1.24.0"
starship_vversion: "v{{ starship_version }}"
starship_archive: "starship-x86_64-unknown-linux-gnu.tar.gz"
starship_archive_url: "https://github.com/starship/starship/releases/download/{{ starship_vversion }}/{{ starship_archive }}"
# }}}
# {{{ tmux
tmux_default_terminal: "tmux-256color"
# }}}
# {{{ vim
vim_dir: "{{ ansible_env.HOME }}/.vim"
vimplug_git_repo: "https://github.com/junegunn/vim-plug.git"
vim_coc_extensions_npm_args: "--global-style --ignore-scripts --no-bin-links --no-package-lock --only=prod"
vim_coc_extensions_dir: "{{ path_local_config }}/coc/extensions"
vim_install_plugins: true
vim_coc_extensions: ""
# }}}
# {{{ xh
xh_version: "0.25.0"
xh_vversion: "v{{ xh_version }}"
xh_archive: "xh-{{ xh_vversion }}-x86_64-unknown-linux-musl.tar.gz"
xh_archive_url: "https://github.com/ducaale/xh/releases/download/{{ xh_vversion }}/{{ xh_archive }}"
# }}}
# {{{ z.lua
zlua_local_path: "{{ ansible_env.HOME }}/.local/lib/z.lua"
zlua_git_repo: "https://github.com/skywind3000/z.lua"
lua_binary: lua
# }}}
# }}}
# vim: fdm=marker
